@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    background-color: white;
    padding: 0px;
}
.head{
    font-family: 'Oswald', sans-serif;
    font-size: 245px;;    
}

.deputadoNome{
    
}


.mat-grid-tile{
    font-family: 'Oswald', sans-serif;
    font-size: 104px;
}

.img {
    
}
