<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EuElegi</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    </style>
</head>

  <body>
    <div style="background-color: #125FC9; background-size: contain; height: 150px;">
      <mat-toolbar style="background-color: #125FC9;">
        <span style="background-color: #125FC9; font-size: 54px; color: aliceblue; margin-top: 15px;">
          EuElegi
        </span>
        <mat-nav-list style="background-color: #125FC9; margin-top: 20px;">
          <a style="background-color: #125FC9; font-size: 30px; color: aliceblue; margin-left: 1950px;">Votações</a>
          <span style="margin-left: 5px; color: aliceblue; background-color: #125FC9;">|</span>
          <a style="background-color: #125FC9; font-size: 30px;color: aliceblue; margin-top: 15px; margin-left: 10px;">Proposições</a>
        </mat-nav-list>
      </mat-toolbar>
    </div>
   <span>
     
     <h1 style="color: #3F3F3F; font-size: 40px; padding: 30px;">Deputados</h1> 
   </span> 


    <div>
      <!-- 
  <app-proposicoes-list> </app-proposicoes-list>
  
  <app-votacoes-list> </app-votacoes-list> -->
          
        <mat-grid-list cols="5" rowHeight="5:5" gutterSize="30px" >
          <mat-card>
            <mat-grid-tile *ngFor="let deputado of deputados" class="deputados-geral">
              <mat-card-header >
                  <div>
                    <button (click)="openDialog(); selectDeputados()" >
                      <img style="width: 205px; height: 324px; border: 2px; border-radius: 5px;" src={{deputado.urlFoto}}>
                    </button>
                    <div style="vertical-align: sub; text-align: center;">
                      <mat-card-title style="font-size: 27px;" >{{deputado.nome}}</mat-card-title>
                      <mat-card-subtitle style="font-size: 23px;">{{deputado.siglaPartido}}</mat-card-subtitle>
                    </div>
                  </div>
              </mat-card-header>
            </mat-grid-tile>  
          </mat-card>
        </mat-grid-list>
    </div>
  </body>

</html>
<router-outlet></router-outlet>
